.header
    width 100%
    background #282a2d
    height 80px
    padding 0 13%
.logo
    display flex
    height 80px
    align-items center
    &__img
        height 55px
    &__text
        color #fff
        padding-left: 22px
    &__name
        font-size 32px
    &__slogan
        font-size 11px
        opacity 0.25